h1, h2 {
  font-family: Lato;
}

.canvas {
  width: 800px;
  height: 300px;
  position: absolute;
  left: 150px;
  border: 1px black solid;
  overflow: hidden;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-size: contain;
  position: absolute;
  left: -120px;
  top: 60px;
}

.selector {
  display: block; 
  margin: 10px;
}